.cropperWrapper {
    display: flex;
    justify-content: center;

    :global {
        .cropperContainer {
            max-width: 245px;
            max-height: 245px;
        }

        .cropper-point {
            opacity: 0;
        }
    }
}

.cropperAvatar {
    :global {
        .cropper-crop-box,
        .cropper-view-box {
            clip-path: polygon(
                0 15%,
                15% 0,
                100% 0,
                100% calc(100% - 15%),
                calc(100% - 15%) 100%,
                0 100%
            );
            position: relative;
            z-index: 0;
        }

        .cropper-view-box:before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
            background: #39f;
            clip-path: polygon(
                0 15%,
                15% 0,
                100% 0,
                100% calc(100% - 15%),
                calc(100% - 15%) 100%,
                0 100%,
                0 15%,
                2px calc(15% + 0.83px),
                2px calc(100% - 2px),
                calc(100% - 15% - 0.83px) calc(100% - 2px),
                calc(100% - 2px) calc(100% - 15% - 0.83px),
                calc(100% - 2px) 2px,
                calc(15% + 0.83px) 2px,
                2px calc(15% + 0.83px)
            );
        }
    }
}

.zoomSlider {
    :global {
        .ant-slider-handle {
            border-radius: 0;
            width: 14px;
            height: 14px;
        }
    }
}

.rotateIcon {
    display: flex !important;
    font-size: 1.375rem;
    line-height: 1.375rem;
}
